<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">
	<title>专业教练</title>
	
	<link href="/css/bootstrap-grid.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="/css/zoomslider.css" rel="stylesheet">
	<link href="/css/swiper.css" rel="stylesheet">
	<link href="/css/swipebox.css" rel="stylesheet">
	<link href="/css/style-pink.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/jquery-ui.css">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CFira+Sans:400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-fixed-top dark">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<a class="logo" href="index.html"><img src="/images/logo-pink.png" alt="StarGym"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<!-- Use <div id="search" class="show"> for visible block -->
				<div id="search">
					<form>
						<div class="input-div"><input type="text" name="search" value="" placeholder="Search"></div>
						<a href="#" class="search-icon fa fa-search"></a>
					</form>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/toIndex.hm">首页</a></li>
					<li><a href="/toAbout.hm">关于我们</a></li>
					<li><a href="/toGallery.hm">健身美图</a></li>
					<li><a href="/toCards.hm">健身课程</a></li>
					<li><a href="/toCoaches.hm">专业教练</a></li>
					<!-- <li><a href="coach_full.html">Coach Full Page</a></li>-->
					<li><a href="/toContact.hm">联系我们</a></li>
				</ul>
			</div>		
		</div>
	</nav>
	

	<header>
		<div class="container">
			<h1>我们的 <span>教练</span></h1>
			<ol class="bread">
				<li>
					<a href="index.html"><span>首页</span></a>
				</li>
				<li class="divider"><span>|</span></li>
				<li>
					<span>专业教练</span>
				</li>
			</ol>
		</div>
	</header>

	<div class="coaches coaches-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight">
						<a href="coach_full.html" class="photo"><img src="/images/_coach-1.jpg" class="full-width" alt="Coach"></a>
						<div class="descr">
							<a href="#" class="header"><!--Alex-->亚历克斯·<span>康诺希</span></a>
							年龄: <strong>26</strong><br>
							经验: <strong>8 年</strong><br>
							专长: <strong>健身房</strong>
						</div>
						<div class="bottom">
							<a href="#" class="social-twitter fa fa-twitter"></a>
							<a href="#" class="social-fb fa fa-facebook"></a>
							<a href="#" class="social-inst fa fa-instagram"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight">
						<a href="coach_full.html" class="photo"><img src="/images/_coach-2.jpg" class="full-width" alt="Coach"></a>
						<div class="descr">
							<a href="#" class="header">保罗·<span>哈德森</span></a>
							年龄: <strong>25</strong><br>
							经验: <strong>9 年</strong><br>
							专长: <strong>健身房</strong>
						</div>
						<div class="bottom">
							<a href="#" class="social-twitter fa fa-twitter"></a>
							<a href="#" class="social-fb fa fa-facebook"></a>
							<a href="#" class="social-inst fa fa-instagram"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight">
						<a href="coach_full.html" class="photo"><img src="/images/_coach-3.jpg" class="full-width" alt="Coach"></a>
						<div class="descr">
							<a href="#" class="header">珍妮· <span>帕森特</span></a>
							年龄: <strong>25</strong><br>
							经验: <strong>9 年</strong><br>
							专长: <strong><!--Fitness-->有氧运动</strong>
						</div>
						<div class="bottom">
							<a href="#" class="social-twitter fa fa-twitter"></a>
							<a href="#" class="social-fb fa fa-facebook"></a>
							<a href="#" class="social-inst fa fa-instagram"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight">
						<a href="coach_full.html" class="photo"><img src="/images/_coach-4.jpg" class="full-width" alt="Coach"></a>
						<div class="descr">
							<a href="#" class="header"><!--Nikolas-->尼古拉斯 <span><!--Paster-->帕斯特</span></a>
							年龄: <strong>22</strong><br>
							经验: <strong>5 年</strong><br>
							专长: <strong>交叉训练</strong>
						</div>
						<div class="bottom">
							<a href="#" class="social-twitter fa fa-twitter"></a>
							<a href="#" class="social-fb fa fa-facebook"></a>
							<a href="#" class="social-inst fa fa-instagram"></a>
						</div>
					</div>
				</div>				
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight">
						<a href="coach_full.html" class="photo"><img src="/images/_coach-5.jpg" class="full-width" alt="Coach"></a>
						<div class="descr">
							<a href="#" class="header"><!--Lora-->劳拉 <span><!--Johnson-->约翰逊</span></a>
							年龄: <strong>26</strong><br>
							经验: <strong>8 年</strong><br>
							专长: <strong>健身房</strong>
						</div>
						<div class="bottom">
							<a href="#" class="social-twitter fa fa-twitter"></a>
							<a href="#" class="social-fb fa fa-facebook"></a>
							<a href="#" class="social-inst fa fa-instagram"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight">
						<a href="coach_full.html" class="photo"><img src="/images/_coach-6.jpg" class="full-width" alt="Coach"></a>
						<div class="descr">
							<a href="#" class="header"><!--Mark-->马克·<span><!--Ramsey-->拉姆塞</span></a>
							年龄: <strong>25</strong><br>
							经验: <strong>4 years</strong><br>
							专长: <strong>有氧运动</strong>
						</div>
						<div class="bottom">
							<a href="#" class="social-twitter fa fa-twitter"></a>
							<a href="#" class="social-fb fa fa-facebook"></a>
							<a href="#" class="social-inst fa fa-instagram"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight">
						<a href="coach_full.html" class="photo"><img src="/images/_coach-7.jpg" class="full-width" alt="Coach"></a>
						<div class="descr">
							<a href="#" class="header"><!--Denny-->丹妮 <span><!--Wilson-->威尔逊</span></a>
							年龄: <strong>25</strong><br>
							经验: <strong>9 年</strong><br>
							专长: <strong>交叉训练</strong>
						</div>
						<div class="bottom">
							<a href="#" class="social-twitter fa fa-twitter"></a>
							<a href="#" class="social-fb fa fa-facebook"></a>
							<a href="#" class="social-inst fa fa-instagram"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<div class="item matchHeight item-plus">

						<a href="#" class="icon"><span class="fa fa-user-plus"></span></a>

						<div class="header">你想加入 <br><span>我们吗?</span></div>

						<!--<a href="#" data-target="#myModal" class="btn btn-pink btn-xs">加入我们</a>-->
						<button class="btn btn-pink btn-xs" data-toggle="modal" data-target="#myModal">加入我们</button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<!--<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">加入我们</h4>
									</div>-->

									<form class="form-horizontal" role="form" id="coachesFrom"   style="margin-top: 10px">
										<div class="form-group" >
											<label  class="col-sm-2 control-label">姓名</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="name" placeholder="请输入名字" style="width: 480px;">
											</div>
										</div>
										<div class="form-group">
											<label  class="col-sm-2 control-label">年龄</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="age" placeholder="请输入年龄" style="width: 480px;">
											</div>
										</div>
										<div class="form-group">
											<label  class="col-sm-2 control-label">性别</label>
											<select class="form-control"  name="gender" style="width: 480px;">
												<option value="男">男</option>
												<option value="女">女</option>
											</select>
										</div>
										<div class="form-group">
											<label  class="col-sm-2 control-label">经验</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="experience" placeholder="请输入经验/年" style="width: 480px;">
											</div>
										</div>
										<div class="form-group">
											<label  class="col-sm-2 control-label">专长</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="specialization" placeholder="请输入专长" style="width: 480px;">
											</div>
										</div>
										<div class="form-group">
											<label  class="col-sm-2 control-label">介绍</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="des" placeholder="请输入自我介绍" style="width: 480px;">
											</div>
										</div>
										<!--<button type="submit" id="coachesadd" class="btn btn-default">提交</button>-->
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="button" id="coachesadd" class="btn btn-primary">提交</button>
										</div>
									</form>



								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div>


					</div>
				</div>								
			</div>
		</div>
	</div>

	<section class="block-white">
		<div class="container">
			<div class="bg" style="background-image: url(/images/_start-photo-pink.png);">
				<div class="content">
					<h3>最健康的 <br><span>使用stargym改变您的身体</span></h3>
					<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无论你是否想要演员般的身材，练好，吃好，睡好是健身永远不变的铁三角。想要获得理想的效果，三者缺一不可。
						健身，就是改变自己，而改变自己，就要付出努力。
						你的身材并不是一张健身房年卡能够换来的，你的锻炼强度才是一切。
						超级英雄炼成之路!</p>

					<a href="#" class="btn btn-lg btn-pink">点击开始</a>
				</div>
			</div>
		</div>
	</section>
	

	<section class="subscribe">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-xs-12 col-ms-12"><span class="percent">-10%</span></div>
				<div class="col-lg-4 col-md-4 col-xs-12 col-ms-12"><h3>立即 <span>订阅优惠</span></h3></div>
				<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="您的邮箱">
							<span class="input-group-btn">
								<input class="btn btn-black" type="submit" value="订阅">
							</span>	
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
		<section class="block-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-ms-12">
					<img src="/images/logo-pink.png" class="logo" alt="Stargym">
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs hidden-ms">					
					<h5>培训</h5>
				</div>
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs hidden-ms">					
					<h5>联系 我们</h5>
				</div>				
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs hidden-ms">
					<h5>健身画廊</h5>
				</div>
				<div class="col-lg-4 col-md-4 col-ms-6 block-contacts border-right">	
					
					<p>Quisque quis dignissim elit. Aliquam et augue aliquet orci maximus convallis id vitae augue. Phasellus elementum commodo aliquet. Sed vitae sem in arcu auctor pharetra vel ut erat. </p>

					<ul class="address">
						<li><span class="fa fa-map-marker"></span>441300，湖北省武汉市光谷时代广场</li>
						<li><span class="fa fa-phone"></span>803-33-5644-99</li>
						<li><span class="fa fa-envelope"></span><a href="#">yaoshuning@126.com</a></li>
					</ul>

					<ul class="social social-big">
						<li><a href="#" class="social-fb fa fa-facebook"></a></li>
						<li><a href="#" class="social-twitter fa fa-twitter"></a></li>
						<li><a href="#" class="social-youtube fa fa-youtube"></a></li>
						<li><a href="#" class="social-inst fa fa-instagram"></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 col-ms-6 menu-footer border-right">				
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-6 col-ms-6">
							<h5 class="hidden-md hidden-lg">Trainings</h5>	
							<ul>
								<li><a href="#">体操 训练</a></li>
								<li><a href="#">优化 训练</a></li>
								<li><a href="#">有氧 运动</a></li>
							</ul>
						</div>

						<div class="col-lg-12 col-md-12 col-xs-6 col-ms-6">
							<h5>Stargym</h5>
							<ul>
								<li><a href="about.html">关于我们</a></li>
								<li><a href="#">健身画廊</a></li>
								<li><a href="#">专业教练</a></li>
								<li><a href="cards.html">健身课程</a></li>
								<li><a href="#">博客</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>					
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-ms-12 border-right">	
					<h5 class="hidden-md hidden-lg">联系我们</h5>				
					<form>
						<input type="text" name="name" placeholder="您的姓名">
						<input type="text" name="email" placeholder="您的电话">
						<textarea name="text" placeholder="您的留言"></textarea>
						<input type="submit" name="send" value="发送" class="btn btn-pink btn-black-bg">
					</form>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-ms-12">
					<h5 class="hidden-md hidden-lg">健身画廊</h5>
					<div class="gallery clearfix">
						<a href="#"><img src="/images/_footer-photo-1.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-2.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-3.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-4.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-5.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-6.png" alt="Gallery"></a>
					</div>
					<div class="tags clearfix">
						<a href="#">#健身房</a>
						<a href="#">#健康</a>
						<a href="#">#运动</a>
						<a href="#">#营养</a>
						<a href="#">#训练</a>
						<a href="#">#美食</a>
						<a href="#">#塑型</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			Copyright &copy; 2020.软帝学院.学生自主设计项目
			<a href="#">天道酬勤~没有人能随便成功，加油！</a>
			<a href="#" class="go-top fa fa-arrow-up hidden-xs hidden-ms"><span>回到顶部</span></a>
		</div>
	</footer>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script src="/js/jquery-ui.js"></script>

	<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="/js/jquery.localscroll-1.2.7-min.js"></script>
	<script type="text/javascript" src="/js/jquery.scrollTo-1.4.2-min.js"></script>


	<script type="text/javascript" src="/js/collapse.js"></script>
	<script type="text/javascript" src="/js/scrollreveal.js"></script>
	<script type="text/javascript" src="/js/countUp.js"></script>
	<script type="text/javascript" src="/js/swiper.jquery.js"></script>
	
	<script type="text/javascript" src="/js/jquery.matchHeight.js"></script>
	<script type="text/javascript" src="/js/jquery.swipebox.js"></script>
	<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="/js/jquery.zoomslider.js"></script>
	
    <script src="/js/map-pink.js"></script>

	<script type="text/javascript" src="/js/scripts.js"></script>

 <script type="text/javascript">
     $("#coachesadd").click(function(){


		$.ajax({
			type:"post",
			url:"/toCoaches.hm",
			data:{
			    "name":$("#name").val(),
				"age":$("#age").val()
			},
			success:function(data){
                console.log(2222);
			}
			}
		)

     })


 </script>
	
	
</body>
</html>
