<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>首页</title>
<link href="/css/bootstrap-grid.css" rel="stylesheet" />
<link href="/css/font-awesome.css" rel="stylesheet" />
<link href="/css/zoomslider.css" rel="stylesheet" />
<link href="/css/swiper.css" rel="stylesheet" />
<link href="/css/swipebox.css" rel="stylesheet" />
<link href="/css/style-pink.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/jquery-ui.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CFira+Sans:400,500,600,700,800,900" rel="stylesheet" />
<script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
<div class="container">
<div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar top-bar"></span><span class="icon-bar middle-bar"></span><span class="icon-bar bottom-bar"></span></button>
 <a class="logo" href="/admin/doLogin.hm"><img src="/images/logo-pink.png" alt="StarGym" /></a>
</div>
<div id="navbar" class="navbar-collapse collapse">
 <!-- Use <div id="search" class="show">for visible block -->
 <div id="search">
  <form>
   <div class="input-div">
	<input type="text" name="search" value="" placeholder="Search" />
   </div>
   <a href="#" class="search-icon fa fa-search"></a>
  </form>
 </div>
 <ul class="nav navbar-nav">
  <li><a href="/toIndex.hm">首页</a></li>
  <li><a href="/toAbout.hm">关于我们</a></li>
  <li><a href="/toGallery.hm">健身美图</a></li>
  <li><a href="/toCards.hm">健身课程</a></li>
  <li><a href="/toCoaches.hm">专业教练</a></li>
 <!-- <li><a href="coach_full.html">Coach Full Page</a></li>-->
  <li><a href="/toContact.hm">联系我们</a></li>
 </ul>
</div>
</div>
</nav>
<section class="slider-full" data-zs-speed="12000" data-zs-interval="7000" data-zs-switchspeed="4000" data-zs-src="[&quot;/images/_slider-1.jpg&quot;, &quot;/images/_slider-2.jpg&quot;, &quot;/images/_slider-3.jpg&quot;]">
<div class="item">
<div class="container">
 <div class="content">
  <h3><!--Lose your weight -->减肥<br /><span><!--in just 2 weeks-->仅需两周</span></h3>
  <p><!--Phasellus placerat magna dolor, vel dictum velit sodales id.
      Fusce molestie metus magna, ut faucibus eros hendrerit porta.
      Fusce aliquet varius tristique.-->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在健身运动中，分为无氧与有氧，当然无氧与有氧都是有很多好处的，同时也是有很多讲究的，那无氧健身运动有什么，相信有人还是知道有什么运动的。那么，最有效的无氧健身运动有哪些?下面就一起来看看无氧健身运动吧。
  </p>
  <a href="#" class="btn btn-pink btn-lg btn-black-bg">现在开始</a>
 </div>
</div>
</div>
</section>
<div class="icons-best">
<div class="container">
<h3><!--We can give you-->我们可以给你 <br /><span><!--much more than others-->比别人更多的东西</span></h3>
<div class="icons row">
 <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-1" style="background-image: url(/images/_icon-1-pink.png)">
  <!--Modern-->最新
     <!--<br />equipment-->设备
 </div>
 <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-2" style="background-image: url(/images/_icon-2-pink.png)">
  <!--Coaches-->冠军
     <!--<br />champions-->教练
 </div>
 <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-3" style="background-image: url(/images/_icon-3-pink.png)">
  <!--The area-->占地面积
  <br /><!--of 7000 m2-->7000平方米
 </div>
 <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-4" style="background-image: url(/images/_icon-4-pink.png)">
  <!--Parking for-->免费停车
  <!--<br />160 spots-->
 </div>
 <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-5" style="background-image: url(/images/_icon-5-pink.png)">
  <!--Swimming pools -->提供
  <br /><!--available-->游泳池
 </div>
 <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-ms-4 icon-6" style="background-image: url(/images/_icon-6-pink.png)">
  <!--Large bar with-->健康
  <br /><!--sports nutrition-->营养餐
 </div>
</div>
</div>
</div>
<section class="trainings">
<div class="container">
<h3>训练课程</h3>
<div class="block-tabs row">
 <div class="col-lg-8 col-md-8">
  <div class="blocks-large">
   <div class="block-large block-1 active" style="background-image: url(/images/_trainings-1.jpg)">
	<a href="#" class="btn btn-pink btn-lg btn-black-bg"><!--Get started-->现在开始</a>
   </div>
   <div class="block-large block-2" style="background-image: url(/images/_trainings-2.jpg)">
	<a href="#" class="btn btn-pink btn-lg btn-black-bg">现在开始</a>
   </div>
   <div class="block-large block-3" style="background-image: url(/images/_trainings-3.jpg)">
	<a href="#" class="btn btn-pink btn-lg btn-black-bg">现在开始</a>
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4">
  <div class="items">
   <a href="#" class="item item-1 active" data-block="block-1"><span class="header"><!--Gym Trainings-->健身房训练</span><p><!--Anaerobic training with heavy weights-->负重无氧训练</p></a>
   <a href="#" class="item item-2" data-block="block-2"><span class="header"><!--CrossFit-->交叉训练</span><p><!--Strength and conditioning program-->力量和条例程序</p></a>
   <a href="#" class="item item-3" data-block="block-3"><span class="header">有氧运动</span><p><!--Aerobic exercises for weight loss-->有氧运动减肥</p></a>
  </div>
 </div>
</div>
</div>
</section>
<section class="block-white">
<div class="container">
<div class="bg" style="background-image: url(/images/_start-photo-pink.png);">
 <div class="content">
  <h3><!--Be stronger-->更强壮的 <br /><span><!--change your body with stargym-->让stargym改变你的身体</span></h3>
  <p><!--Phasellus elementum commodo aliquet.
      Sed vitae sem in arcu auctor pharetra vel ut erat.
      Praesent mattis nisi laoreet ex tempus auctor.
      Nullam vitae arcu euismod, placerat mi id, ornare lorem.
      Morbi vulputate dui purus, ut sodales dolor hendrerit.
      Curabitur et purus at urna tristique pharetra.-->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现在大多数人去到健身房其实都没有一个明确的目的，基本上都是先去跑步机上跑半小时，然后看到什么器械没有人了就去参合，而其实这样是非常不科学的，如果你真正选择了健身，那你就应该认真去对待，如果你不好好去对待，那健身的意义就没有了</p>
  <a href="#" class="btn btn-lg btn-pink">现在开始</a>
 </div>
</div>
</div>
</section>
<section class="plans parallax" style="background-image: url(/images/_block-black-parallax.jpg);">
<div class="container">
<h3><!--Choose your personal-->选择您的个人 <br /><span><!--training plan-->培训计划</span></h3>
<div class="row">
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item">
   <div class="header header-light">
	<div class="sub">
	 <span>1</span><!--training-->个训练
	</div>
	<span><!--Free-->自由</span>
   </div>
   <ul>
	<li class="yes"><!--Cardio-->有氧训练</li>
	<li><!--Swimming Pool-->游泳池</li>
	<li class="yes"><!--Gym-->健身房</li>
	<li>小组课</li>
	<li><!--Aerobics-->有氧运动</li>
	<li><!--Crossfit-->交叉训练</li>
   </ul>
   <a href="#" class="btn btn-pink"><!--I want it-->我想要它</a>
  </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item">
   <div class="header">
	<div class="sub">
	 <span>3</span>训练
	</div>
	<span>$25</span>
   </div>
   <ul>
	<li class="yes">有氧训练</li>
       <li>游泳池</li>
       <li>健身房</li>
       <li class="yes">小组课</li>
       <li class="yes">有氧运动</li>
       <li class="yes">交叉训练</li>
   </ul>
   <a href="#" class="btn btn-pink">我想要它</a>
  </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item">
   <div class="header">
	<div class="sub">
	 <span>7</span>训练
	</div>
	<span>$49</span>
   </div>
   <ul>
       <li class="yes">有氧训练</li>
       <li>游泳池</li>
       <li class="yes">健身房</li>
       <li class="yes">小组课</li>
       <li class="yes">有氧运动</li>
       <li class="yes">交叉训练</li>
   </ul>
   <a href="#" class="btn btn-pink">我想要它</a>
  </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item label-recomend">
   <div class="header">
	<div class="sub">
	 <span>20</span>训练
	</div>
	<span>$129</span>
   </div>
   <ul>
       <li class="yes">有氧训练</li>
       <li class="yes">游泳池</li>
       <li class="yes">健身房</li>
       <li class="yes">小组课</li>
       <li class="yes">有氧运动</li>
       <li class="yes">交叉训练</li>
   </ul>
   <a href="#" class="btn btn-pink">我想要它</a>
  </div>
 </div>
</div>
</div>
</section>
<section class="coaches">
<div class="container">
<h3>我们的 <span>教练</span></h3>
<div class="row">
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item">
   <a href="#" class="photo"><img src="/images/_coach-1.jpg" class="full-width" alt="Coach" /></a>
   <div class="descr">
	<a href="#" class="header"><!--Alex-->亚力克斯 ·<span>康纳</span></a> 年龄:
	<strong>26</strong>
	<br /> 经验:
	<strong>8年</strong>
	<br /> 专长:
	<strong>健身房</strong>
   </div>
   <div class="bottom">
	<a href="#" class="social-twitter fa fa-twitter"></a>
	<a href="#" class="social-fb fa fa-facebook"></a>
	<a href="#" class="social-inst fa fa-instagram"></a>
   </div>
  </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item">
   <a href="#" class="photo"><img src="/images/_coach-2.jpg" class="full-width" alt="Coach" /></a>
   <div class="descr">
	<a href="#" class="header">保罗 ·<span>哈德森</span></a> 年龄:
	<strong>25</strong>
	<br /> 经验:
	<strong>9 年</strong>
	<br /> 专长:
	<strong>健身房</strong>
   </div>
   <div class="bottom">
	<a href="#" class="social-twitter fa fa-twitter"></a>
	<a href="#" class="social-fb fa fa-facebook"></a>
	<a href="#" class="social-inst fa fa-instagram"></a>
   </div>
  </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item">
   <a href="#" class="photo"><img src="/images/_coach-3.jpg" class="full-width" alt="Coach" /></a>
   <div class="descr">
	<a href="#" class="header"><!--Jenny-->珍妮 ·<span>帕斯特</span></a> 年龄:
	<strong>25</strong>
	<br /> 经验:
	<strong>9 年</strong>
	<br /> 专长:
	<strong>健身</strong>
   </div>
   <div class="bottom">
	<a href="#" class="social-twitter fa fa-twitter"></a>
	<a href="#" class="social-fb fa fa-facebook"></a>
	<a href="#" class="social-inst fa fa-instagram"></a>
   </div>
  </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
  <div class="item">
   <a href="#" class="photo"><img src="/images/_coach-4.jpg" class="full-width" alt="Coach" /></a>
   <div class="descr">
	<a href="#" class="header"><!--Nikolas-->尼古拉斯 ·<span><!--Paster-->帕斯特</span></a> 年龄:
	<strong>22</strong>
	<br /> 经验:
	<strong>5 年</strong>
	<br /> 专长:
	<strong>交叉训练</strong>
   </div>
   <div class="bottom">
	<a href="#" class="social-twitter fa fa-twitter"></a>
	<a href="#" class="social-fb fa fa-facebook"></a>
	<a href="#" class="social-inst fa fa-instagram"></a>
   </div>
  </div>
 </div>
</div>
<a href="#" class="btn btn-pink"><!--All coaches-->更多信息</a>
</div>
</section>
<section class="block-dark">
<div class="bg" style="background-image: url(/images/_weight-mask.png);">
<div class="container">
 <h3><!--Have extra weight?-->你有多余的体重吗? <br /><span><!--Get special nutrition program-->获取你的专属营养计划</span></h3>
 <p><!--Fusce vestibulum, urna sit amet convallis ornare,
     erat urna viverra nisl, sed gravida tortor ipsum mollis augue.
     Curabitur sollicitudin risus ultricies ante congue, sit amet sollicitudin est ultricies.
     Aenean finibus libero ac nunc molestie lobortis.-->
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 瘦身要学会吃对食物，只要吃对了食物，不仅不容易长胖，而且还能减肥。下面这些燃脂食物的美味，真地可以帮你燃烧身体脂肪，令你越吃越瘦。</p>
 <a href="#" class="btn btn-pink btn-lg btn-black-bg"><!--Get started-->立即开始</a>
</div>
</div>
</section>
<section class="calculator calculator-pink">
<div class="container">
<form class="row">
 <div class="col-lg-4 col-md-12 col-sm-12">
  <h3><!--Calculate Your-->计算你的 <span><!--Ideal weight-->理想体重</span></h3>
 </div>
 <div class="col-lg-1 col-md-2 col-sm-1 col-xs-12 col-ms-12">
  <label>性别:</label>
  <label class="css-radio man fa fa-male"><input type="radio" name="sex" value="man" /><span></span></label>
  <label class="css-radio woman fa fa-female"><input type="radio" name="sex" value="woman" checked="" /><span></span></label>
 </div>
 <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 col-ms-12">
  <label><!--Your age-->你的年龄:</label>
  <div class="calc">
   <input type="text" name="age" id="age" value="21" />
   <a href="#" class="arrow-up fa fa-arrow-circle-up"></a>
   <a href="#" class="arrow-down fa fa-arrow-circle-down"></a>
  </div>
 </div>
 <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 col-ms-12">
  <label><!--Your height-->您的身高/cm:</label>
  <div class="calc">
   <input type="text" name="height" id="height" value="170" />
   <a href="#" class="arrow-up fa fa-arrow-circle-up"></a>
   <a href="#" class="arrow-down fa fa-arrow-circle-down"></a>
  </div>
 </div>
 <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 col-ms-12">
  <div class="result">
   <span>56</span>kg
  </div>
 </div>
</form>
</div>
</section>
<section class="cards">
<div class="container">
<h3><!--Get Your-->获取您的 <span><!--Club card-->俱乐部卡</span></h3>
<div class="description">
    俱乐部卡可让您
 <br />每周7天每天9:00 至23:00 访问我们的俱乐部
</div>
<div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4 col-ms-4">
  <div class="item">
   <img src="/images/_card-1-pink.png" alt="Card 1" />
   <div class="price">
	<span class="header">经典</span>
	<br />
	<span class="val">$90</span>/年
   </div>
   <div class="btns">
	<a href="cards.html" class="btn btn-pink">我要它</a>
	<a href="cards.html">细节</a>
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-ms-4">
  <div class="item">
   <img src="/images/_card-2-pink.png" alt="Card 2" />
   <div class="price">
	<span class="header"><!--Lux-->红钻</span>
	<br />
	<span class="val">$160</span>/年
   </div>
   <div class="btns">
	<a href="cards.html" class="btn btn-pink">我要它</a>
	<a href="cards.html">细节</a>
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-ms-4">
  <div class="item">
   <img src="/images/_card-3-pink.png" alt="Card 3" />
   <div class="price">
	<span class="header"><!--Premium-->黑钻</span>
	<br />
	<span class="val">$299</span>/year
   </div>
   <div class="btns">
	<a href="cards.html" class="btn btn-pink">我要它</a>
	<a href="cards.html">细节</a>
   </div>
  </div>
 </div>
</div>
</div>
</section>
<section class="clients">
<div class="container">
<h3>客户 <span><!--our clients say-->怎么说</span></h3>
<div class="items">
 <div class="clients-slider">
  <div class="swiper-wrapper">
   <div class="swiper-slide">
	<div class="item">
	 <div class="person">
	  <img src="/images/_client-1.jpg" alt="Client" />
	  <div class="name">
	   丽莎·布朗(Liza Brown)
	  </div>
	  <span>MLC公司艺术总监</span>
	 </div>
	 <div class="text">
         有人仅仅是为了健康，可能简单的有氧心肺运动就能满足他们的需求；有人主要为了塑型，所以健身房的力量区是最好的去处；有人主要为了力量，那他们可能会去练习力量举；有人主要为了运动表现，那CrossFit对他们来说也许是不错的选择......
	 </div>
	</div>
   </div>
   <div class="swiper-slide">
	<div class="item">
	 <div class="person">
	  <img src="/images/_client-2.jpg" alt="Client" />
	  <div class="name">
	   亚历山大·文尔森(Alexa Willson)
	  </div>
	  <span><!--Art-director, MLC Company-->MLC公司艺术总监</span>
	 </div>
	 <div class="text">
         不同训练目的，相对应的训练方法也不同，体现在身材上的结果肯定也有所区别。有些训练项目目的比较单一，也有将多种目的融合在一起的运动项目，比如极具视觉冲击力的街头极限健身，这是一种融合了力量、协调性、耐力等多种身体素质的运动项目
	 </div>
	</div>
   </div>
  </div>
  <div class="swiper-pagination"></div>
  <a href="#" class="arrow-left fa fa-arrow-circle-left"></a>
  <a href="#" class="arrow-right fa fa-arrow-circle-right"></a>
 </div>
</div>
</div>
</section>
<section class="skills parallax" style="background-image: url(/images/_skills-parallax.jpg);">
<div class="container">
<h3>我们的 <span>品质</span></h3>
<div class="row">
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-1">794</span> 客户满意
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-2">97</span> <!--individual nutrition programs-->专属营养计划
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-3">130</span> <!--high quality equipment-->高质量的设备
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-4">26</span> 冠军教练
  </div>
 </div>
</div>
</div>
</section>
<section class="blog" id="blog-main">
<div class="container">
<h3><!--Nutrition-->营养 <span>博客</span></h3>
<div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4">
  <div class="item">
   <a href="#" class="photo"><img src="/images/_food-1.jpg" class="full-width" alt="Food" /></a>
   <div class="description">
	<a href="#" class="header"><!--The best choice for your muscles-->肌肉的最佳选择</a>
	<p class="text">钾元素可以很轻松的通过补充高蛋白食物和绿叶蔬菜来获得，多补充这些食物可以有效预防肌肉抽筋。</p>
   </div>
   <div class="bottom">
	<div class="row">
	 <div class="col-lg-6 col-sm-12  col-xs-4">
	  <span class="date"><!--January 2, 2017-->2017年1月2日</span>
	 </div>
	 <div class="col-lg-6 col-sm-12  col-xs-8 col-ms-8 right">
	  <ul>
	   <li class="icon-fav fa fa-heart"><a href="#">212</a></li>
	   <li class="icon-comments fa fa-commenting"><a href="#">4</a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4">
  <div class="item">
   <a href="#" class="photo"><img src="/images/_food-2.jpg" class="full-width" alt="Food" /></a>
   <div class="description">
	<a href="#" class="header"><!--10 ways to include mushrooms-->包括蘑菇的10中方法</a>
	<p class="text">高强度训练，为了消除酸痛，你需要得到良好的恢复，让你的身体会下一周的训练做好准备。除了好好睡觉之外，你还需要吃对食物</p>
   </div>
   <div class="bottom">
	<div class="row">
	 <div class="col-lg-6 col-sm-12  col-xs-6">
	  <span class="date">2017年1月2日</span>
	 </div>
	 <div class="col-lg-6 col-sm-12  col-xs-6 right">
	  <ul>
	   <li class="icon-fav fa fa-heart"><a href="#">162</a></li>
	   <li class="icon-comments fa fa-commenting"><a href="#">14</a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4">
  <div class="item">
   <a href="#" class="photo"><img src="/images/_food-3.jpg" class="full-width" alt="Food" /></a>
   <div class="description">
	<a href="#" class="header"><!--How to choose the meat?-->如何选择肉</a>
	<p class="text">轻食，不是某些特定的食物，而是一种饮食态度和形式，是没有繁复的烹饪技巧，没有高脂肪的油炸肉食，用食物最原始的状态，做出营养健康的也更美味的食物，同时彰显着一种自然简单原生态的生活态度</p>
   </div>
   <div class="bottom">
	<div class="row">
	 <div class="col-lg-6 col-sm-12  col-xs-6">
	  <span class="date">2017年1月2日</span>
	 </div>
	 <div class="col-lg-6 col-sm-12  col-xs-6 right">
	  <ul>
	   <li class="icon-fav fa fa-heart"><a href="#">55</a></li>
	   <li class="icon-comments fa fa-commenting"><a href="#">9</a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>
<div class="btn-more">
 <a href="#" class="btn btn-pink"><!--read more-->阅读更多</a>
</div>
</div>
</section>
<section class="subscribe">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-xs-12 col-ms-12"><span class="percent">-10%</span></div>
				<div class="col-lg-4 col-md-4 col-xs-12 col-ms-12"><h3>立即 <span>订阅优惠</span></h3></div>
				<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="您的邮箱">
							<span class="input-group-btn">
								<input class="btn btn-black" type="submit" value="订阅">
							</span>	
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
		<section class="block-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-ms-12">
					<img src="/images/logo-pink.png" class="logo" alt="Stargym">
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs hidden-ms">					
					<h5>培训</h5>
				</div>
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs hidden-ms">					
					<h5>联系 我们</h5>
				</div>				
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs hidden-ms">
					<h5>健身画廊</h5>
				</div>
				<div class="col-lg-4 col-md-4 col-ms-6 block-contacts border-right">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无论你是否想要演员般的身材，练好，吃好，睡好是健身永远不变的铁三角。想要获得理想的效果，三者缺一不可。
                        健身，就是改变自己，而改变自己，就要付出努力。
                        你的身材并不是一张健身房年卡能够换来的，你的锻炼强度才是一切。
                        超级英雄炼成之路!
                    </p>

					<ul class="address">
						<li><span class="fa fa-map-marker"></span>441300，湖北省武汉市光谷时代广场</li>
						<li><span class="fa fa-phone"></span>803-33-5644-99</li>
						<li><span class="fa fa-envelope"></span><a href="#">yaoshuning@126.com</a></li>
					</ul>

					<ul class="social social-big">
						<li><a href="#" class="social-fb fa fa-facebook"></a></li>
						<li><a href="#" class="social-twitter fa fa-twitter"></a></li>
						<li><a href="#" class="social-youtube fa fa-youtube"></a></li>
						<li><a href="#" class="social-inst fa fa-instagram"></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 col-ms-6 menu-footer border-right">				
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-6 col-ms-6">
							<h5 class="hidden-md hidden-lg">Trainings</h5>	
							<ul>
								<li><a href="#">体操 训练</a></li>
								<li><a href="#">优化 训练</a></li>
								<li><a href="#">有氧 运动</a></li>
							</ul>
						</div>

						<div class="col-lg-12 col-md-12 col-xs-6 col-ms-6">
							<h5>Stargym</h5>
							<ul>
								<li><a href="about.html">关于我们</a></li>
								<li><a href="#">健身画廊</a></li>
								<li><a href="#">专业教练</a></li>
								<li><a href="cards.html">健身课程</a></li>
								<li><a href="#">博客</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>					
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-ms-12 border-right">	
					<h5 class="hidden-md hidden-lg">联系我们</h5>				
					<form>
						<input type="text" name="name" placeholder="您的姓名">
						<input type="text" name="email" placeholder="您的电话">
						<textarea name="text" placeholder="您的留言"></textarea>
						<input type="submit" name="send" value="发送" class="btn btn-pink btn-black-bg">
					</form>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-ms-12">
					<h5 class="hidden-md hidden-lg">健身画廊</h5>
					<div class="gallery clearfix">
						<a href="#"><img src="/images/_footer-photo-1.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-2.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-3.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-4.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-5.png" alt="Gallery"></a>
						<a href="#"><img src="/images/_footer-photo-6.png" alt="Gallery"></a>
					</div>
					<div class="tags clearfix">
						<a href="#">#健身房</a>
						<a href="#">#健康</a>
						<a href="#">#运动</a>
						<a href="#">#营养</a>
						<a href="#">#训练</a>
						<a href="#">#美食</a>
						<a href="#">#塑型</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<footer>
	<div class="container">
		Copyright &copy; 2020.软帝学院.学生自主设计项目
		<a href="#">天道酬勤~没有人能随便成功，加油！</a>
		<a href="#" class="go-top fa fa-arrow-up hidden-xs hidden-ms"><span>回到顶部</span></a>
	</div>
</footer>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/js/collapse.js"></script>
<script type="text/javascript" src="/js/scrollreveal.js"></script>
<script type="text/javascript" src="/js/countUp.js"></script>
<script type="text/javascript" src="/js/swiper.jquery.js"></script>
<script type="text/javascript" src="/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/js/jquery.zoomslider.js"></script>
<script src="/js/map-pink.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>