<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>行家-软帝CRM</title>
<link rel="stylesheet" type="text/css" href="/css/css.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">办公管理</a>&nbsp;-</span>&nbsp;讲师管理
			</div>
		</div>

		<div class="page">
			<!-- banner页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form>
						<div class="cfD">
							<input class="addUser" type="text" placeholder="输入姓名/ID/手机号/城市" />
							<button class="button">搜索</button>
							<a class="addA addA1" href="connoisseuradd.html">添加讲师+</a>
						</div>
					</form>
				</div>
				<!-- banner 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="60px" class="tdColor">
								<input type="checkbox" />
							</td>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="135px" class="tdColor">姓名</td>
							<td width="145px" class="tdColor">手机号码</td>
							<td width="140px" class="tdColor">所在城市</td>
							<td width="300px" class="tdColor">任职机构</td>
							<td width="145px" class="tdColor">讲师头衔</td>
							<td width="150px" class="tdColor">授课方向</td>
							<td width="150px" class="tdColor">授课年限</td>
							<td width="130px" class="tdColor">操作</td>
						</tr>
						<tr height="40px">
							<td>
								<input type="checkbox" />
							</td>
							<td>1</td>
							<td>山下就只</td>
							<td>13312345678</td>
							<td>南京市</td>
							<td>南京设疑网络科技公司哈哈哈</td>
							<td>总监</td>
							<td>Java</td>
							<td>1年</td>
							<td><img class="operation updateban"
									src="/img/update.png"><img class="operation delban"
																		src="/img/delete.png"></td>
						</tr>
					
					</table>
					<div class="paging">此处是分页</div>
				</div>
				<!-- banner 表格 显示 end-->
			</div>
			<!-- banner页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="/img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
	
	<div class="banUpdate" >
		<div class="divUpdate" style="height: 570px;top:50px;width:500px;">
			<div class="closeUpdate">
				修改讲师信息
				<a><img src="/img/shanchu.png" class="upClose"/></a>
			</div>
			<div class="divForm" style="color:black">
				<form>
					<div >
						讲师姓名：<input class="userinput" type="text" placeholder="输入姓名" />
					</div>
					<div>
						手机号码：<input class="userinput" type="text" placeholder="输入手机号码" />
					</div>
					<div>
						所在城市：<input class="userinput vpr" type="text" placeholder="输入所在城市" />
					</div>
					<div>
						任职机构：<input class="userinput vpr" type="text" placeholder="输入任职机构" />
					</div>
					<div>
						讲师头衔：<input class="userinput vpr" type="text" placeholder="输入讲师头衔" />
					</div>
					<div>
						授课方向：<input class="userinput vpr" type="text" placeholder="输入授课方向" />
					</div>
					<div>
						授课年限：<select class="userinput" >
									<option>1年以内</option>
									<option>1年-3年</option>
									<option>3年-5年</option>
									<option>5年-10年</option>
									<option>10年以上</option>
								</select>
					</div>
					<div>
							讲师简介：<textarea class="userinput"></textarea>
					</div>
					<div>
						<button class="userbtn" id="okUpdate">确定</button>
						<button class="userbtn" id="cancelUpdate">取消</button>
					</div>
				</form>
				
			</div>
			
		</div>
	</div>
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});

$(".updateban").click(function(){
	$(".banUpdate").show();
});
$("#cancelUpdate").click(function(){
	$(".banUpdate").hide();
});
$(".upClose").click(function(){
	$(".banUpdate").hide();
});
// 广告弹出框 end
</script>
</html>