<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>课程添加-软帝CRM</title>
<link rel="stylesheet" type="text/css" href="/css/css.css" />
<link rel="stylesheet" type="text/css" href="/css/manhuaDate.1.0.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/manhuaDate.1.0.js"></script>
	<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
	<!-- <script type="text/javascript" src="js/page.js" ></script> -->
	<script type="text/javascript">
$(function (){
  $("input.mh_date").manhuaDate({
    Event : "click",//可选               
    Left : 0,//弹出时间停靠的左边位置
    Top : -16,//弹出时间停靠的顶部边位置
    fuhao : "-",//日期连接符默认为-
    isTime : false,//是否开启时间值默认为false
    beginY : 1949,//年份的开始默认为1949
    endY :2100//年份的结束默认为2049
  });
});
</script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">办公管理</a>&nbsp;-</span>&nbsp;添加课程
			</div>
		</div>
		<div class="page ">
			<!-- 上传广告页面样式 -->
			<div class="vip">
				<div class="baTopNo">
					<span>添加课程</span>
				</div>
				<div class="conform">
					
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;课程名称：<input type="text" class="input3" />
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上课老师：<select class="input3"><option>软帝-攀哥</option></select>
					</div>
					<div class="cfD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开课时间：<input class="vinput mh_date" type="text" readonly="true" style="margin-left: 10px;width:240px"/>
					</div>
					<div class="cfD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;结束时间：<input class="vinput mh_date" type="text" readonly="true" style="margin-left: 10px;width:240px"/>
					</div>
					
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;授课方向：<select class="input3"><option>Java</option></select>
					</div>
					
					
					<div class="bbD">
						<p class="bbDP">
							<button class="btn_ok btn_yes" href="#">提交</button>
							<a class="btn_ok btn_no" href="#">取消</a>
						</p>
					</div>
				</div>
			</div>

			<!-- 上传广告页面样式end -->
		</div>
	</div>
</body>
</html>