<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>行家-软帝CRM</title>
<link rel="stylesheet" type="text/css" href="/css/css.css" />
<link rel="stylesheet" type="text/css" href="/css/manhuaDate.1.0.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/manhuaDate.1.0.js"></script>
	<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
	<!-- <script type="text/javascript" src="js/page.js" ></script> -->
	<script type="text/javascript">
		$(function (){
		  $("input.mh_date").manhuaDate({
			Event : "click",//可选               
			Left : 0,//弹出时间停靠的左边位置
			Top : -16,//弹出时间停靠的顶部边位置
			fuhao : "-",//日期连接符默认为-
			isTime : false,//是否开启时间值默认为false
			beginY : 1949,//年份的开始默认为1949
			endY :2100//年份的结束默认为2049
		  });
		});
	</script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">办公管理</a>&nbsp;-</span>&nbsp;课程套餐管理
			</div>
		</div>

		<div class="page">
			<!-- banner页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form action="selectCourse" method="post">
						<div class="cfD">
							<input class="addUser" type="text" placeholder="输入课程名/讲师姓名/开课时间/创建时间" />
							<button class="button">搜索</button>
							<a class="addA addA1" href="courseadd.html">添加课程+</a>
							<a class="addA addA1" href="javascript:;">批量删除课程</a>
						</div>
					</form>
				</div>
				<!-- banner 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">
								<input type="checkbox"  />
							</td>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="135px" class="tdColor">课程名称</td>
							<td width="135px" class="tdColor">课程方向</td>
							<td width="145px" class="tdColor">上课老师</td>
							<td width="240px" class="tdColor">开课时间</td>
							<td width="240px" class="tdColor">结束时间</td>
							<td width="140px" class="tdColor">报名人数</td>
							<td width="245px" class="tdColor">创建时间</td>
							<td width="150px" class="tdColor">创建人</td>
							<td width="130px" class="tdColor">操作</td>
						</tr>
						<tr th:each="course,courseStat:${allCourse}">
							<td><input type="checkbox"  /></td>
							<td th:text="${courseStat.index+1}">1</td>
							<td th:text="${course.courseName}"></td>
							<td th:text="${course.courseDir}"></td>
							<td th:text="${course.coaches}"></td>
							<td th:text="${#dates.format(course.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${#dates.format(course.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${course.desc}"></td>
							<td th:text="${#dates.format(course.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${course.doName}"></td>

							<td><a href="javascript:;" th:onclick="'javascript:loadCourse('+${course.id}+')'"><img class="operation"
																												   src="/img/update.png"></a>
								<a href="javascript:;" th:onclick="'javascript:deleteCourse('+${course.id}+')'"><img class="operation delban"
																													 src="/img/delete.png"></a></td>
						</tr>
					
					</table>
					<div class="paging">此处是分页</div>
				</div>
				<!-- banner 表格 显示 end-->
			</div>
			<!-- banner页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="/img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
	
	<div class="banUpdate" >
		<div class="divUpdate" style="height: 450px;top:50px;width:500px;">
			<div class="closeUpdate">
				修改课程信息
				<a><img src="/img/shanchu.png" class="upClose"/></a>
			</div>
			<div class="divForm" style="color:black">
				<form>
					<div >
						课程名称：<input class="userinput" type="text" placeholder="课程名称" />
					</div>
					<div>
						上课老师：<select class="userinput" >
									<option>软帝-攀哥</option>
									<option>软帝-甜甜</option>
									<option>软帝-Jery</option>
								</select>
					</div>
					<div>
						开课时间：<input class="vinput mh_date" type="text" readonly="true" style="width:220px;height: 40px;"/>
					</div>
					<div>
						结束时间：<input class="vinput mh_date" type="text" readonly="true" style="width:220px;height: 40px;"/>
					</div>
					
					<div>
						课程方向：<select class="userinput" >
									<option>Java</option>
									<option>python</option>
									<option>Web前端</option>
									<option>C++</option>
								</select>
					</div>
					
					<div>
						<button class="userbtn" id="okUpdate">确定</button>
						<button class="userbtn" id="cancelUpdate">取消</button>
					</div>
				</form>
				
			</div>
			
		</div>
	</div>
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});

$(".updateban").click(function(){
	$(".banUpdate").show();
});
$("#cancelUpdate").click(function(){
	$(".banUpdate").hide();
});
$(".upClose").click(function(){
	$(".banUpdate").hide();
});
// 广告弹出框 end
</script>
</html>